@{
    ViewBag.Title = "Cadastro";
}
<h1>Cadastro</h1>

<div class="container">
    <form action="submit">
        <div class="row">
            <h5>Quem é você?</h5>
        </div>
        <div class="row">
            <div class="col s12 m12 l4 input-field">
                <label for="nome">Nome</label>
                <input id="nome" type="text" class="validate">
            </div>

            <div class="col s12 m12 l4 input-field">
                <label for="sobrenome">Sobrenome</label>
                <input id="sobrenome" type="text" class="validate">
            </div>

            <div class="col s12 m12 l4 input-field">
                <label for="nascimento">Data Nascimento</label>
                <input id="nascimento" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l4 input-field">
                <input id="endereco" type="text" class="autocomplete">
                <label for="endereco">Endereço</label>
            </div>
            <div class="col s12 m12 l4 input-field">
                <input id="cidade" type="text" class="autocomplete">
                <label for="cidade">Cidade</label>
            </div>
            <div class="col s12 m12 l4 input-field">
                <input id="estado" type="text" class="autocomplete">
                <label for="estado">Estado</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l6 input-field">
                <input id="rg" type="text" class="validate">
                <label for="rg">RG</label>
            </div>

            <div class="col s12 m12 l6 input-field">
                <input id="cpf" type="text" class="validate">
                <label for="cpf">CPF</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l6 input-field">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>

            <div class="col s12 m12 l6 input-field">
                <input id="confEmail" type="email" class="validate">
                <label for="confEmail">Confirmar Email</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l6 input-field">
                <input id="senha" type="password" class="validate">
                <label for="senha">Senha</label>
            </div>

            <div class="col s12 m12 l6 input-field">
                <input id="confSenha" type="password" class="validate">
                <label for="confSenha">Confirmar Senha</label>
            </div>
        </div>


        <div class="row col s12 divider"></div>
        <div class="row">
            <h5>Dados Adicionais</h5>
        </div>

        <div class="row">
            <input type="checkbox" id="motorista" />
            <label for="motorista">Tenho CNH</label>
        </div>

        <div class="row" display="none">
            <input type="checkbox" id="cnh_b" />
            <label for="cnh_b">B</label>
        </div>
        <div class="row" display="none">
            <input type="checkbox" id="cnh_c" />
            <label for="cnh_c">C</label>
        </div>
        <div class="row" display="none">
            <input type="checkbox" id="cnh_d" />
            <label for="cnh_d">D</label>
        </div>

        <div class="row input-field">
            <input id="cpf" type="text" class="validate">
            <label for="cpf">Número de Emergência</label>
        </div>

        <div class="row input-field">
            <input id="cpf" type="text" class="validate">
            <label for="cpf">Contato de Emergêmcia</label>
        </div>

        <div class="row input-field">
            <input id="locais" type="text" class="validate">
            <label for="locais">Locais de Interesse</label>
        </div>

        <div class="row input-field ">
            <textarea id="obs" class="materialize-textarea" length="120"></textarea>
            <label for="obs">Observações</label>
        </div>


        <div class="row ">
            <div class="col s12 m3">
                <a class="waves-effect waves-light btn green">Confirmar</a>
            </div>

            <div class="col s12 hide-on-med-and-up"></div>

            <div class="col s12 m3 offset-m6">
                <a class="waves-effect waves-light btn red" href="login.html">Voltar</a>
            </div>
        </div>
    </form>
</div>
<br>
<br>