@{
    Layout = null;
}
<div class="bg-header">
	<div class="header">
		<div class="left">
			<img src="~/Content/images/logo.png">
		</div>
		<div class="right">
			<form>
				<input placeholder="Login">
				<input placeholder="Senha">
				<button type="submit">Ok</button>
			</form>
		</div>
	</div>
</div>

