@{
    Layout = null;
}
<div class="bg-header">
	<div class="header">
		<div class="left">
			<img src="~/Content/images/logo.png">
		</div>
		<div class="right">
			<form name="formLogin">
				<div class="row input-field col">
		        	<input id="email" type="email" class="validate">
		        	<label for="email">Email</label>
		        </div>

				<div class="row input-field col">
          			<input id="email" type="email" class="validate">
          			<label for="email">Email</label>
        		</div>
				
				<button type="submit">Ok</button>
			</form>
		</div>
	</div>
</div>

