<!DOCTYPE html>
<html>
	<head>
	    <title>Lets GO - @ViewBag.Title</title>
		<!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		
		<link rel="stylesheet" href="~/Content/css/styles.css">
	</head>
	<body>
		@Html.Partial("~/Views/Shared/_Header.cshtml")
		<div id="content">
			@RenderBody()
		</div>
		@Html.Partial("~/Views/Shared/_Footer.cshtml")
	</body>
</html>

