<!DOCTYPE html>
<html>
	<head>
	    <title>@ViewBag.Title</title>
	</head>
	<body>
		@Html.Partial("~/Views/Shared/_Header.cshtml")
		@RenderBody()
		@Html.Partial("~/Views/Shared/_Footer.cshtml")
	</body>
</html>

