<!DOCTYPE html>
<html>
	<head>
	    <title>Lets GO - @ViewBag.Title</title>
		<link rel="stylesheet" href="~/Content/css/styles.css">
	</head>
	<body>
		@Html.Partial("~/Views/Shared/_Header.cshtml")
		<div id="content">
			@RenderBody()
		</div>
		@Html.Partial("~/Views/Shared/_Footer.cshtml")
	</body>
</html>

