<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<div id="slide-out" class="side-nav fixed">
    <div class="sidenav-logo">
        <img class="logo" src="~/Content/images/logo.png">
    </div>
    <ul>
        <li><a title="Minhas Viagens" href="MinhasViagens">Minhas Viagens</a></li>
        <li><a title="Cadastrar Excursão" href="CadastrarExcursao">Cadastrar Excursão</a></li>
    </ul>
</div>
        
