@{
    Layout = null;
}
<header class="bg-header navbar-fixed">
    <nav class="blue darken-4">
		@Html.Partial("~/Views/Shared/_Menu.cshtml")
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><img class="logo" src="~/Content/images/logo.png"></a>
        </div>
    </nav>
</header>