@{
    ViewBag.Title = "Minhas Viagens";
}
<h1>Minhas Viagens</h1>

<div class="container">


    <div class="row">
        <div class="col s12 m8 offset-m2">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#tabMinhasViagens">Minhas Viagens</a></li>
                <li class="tab col s3"><a href="#tabOutrosDestinos">Outros Destinos</a></li>
            </ul>
        </div>
    </div>

    <div class="row" id="tabMinhasViagens">
        <div class="col s12 m8 offset-m2">

            <div class="row col s12"></div>

            <div class="col s12">
                <div class="row col s8 valign">
                    <h5 class="center-align">Destino da Viagem</h5>
                </div>
                <div class="row col s4">
                    <a class="btn-floating btn-large waves-effect waves-light red">2</a> Dias
                </div>
            </div>

            <div class="row col s12 divider"></div>

            <div class="col s12">
                <div class="row col s8 valign">
                    <h5 class="center-align">Destino da Viagem</h5>
                </div>
                <div class="row col s4">
                    <a class="btn-floating btn-large waves-effect waves-light red">5</a> Dias
                </div>
            </div>

            <div class="row col s12 divider"></div>

            <div class="col s12">
                <div class="row col s8 valign">
                    <h5 class="center-align">Destino da Viagem</h5>
                </div>
                <div class="row col s4">
                    <a class="btn-floating btn-large waves-effect waves-light red">10</a> Dias
                </div>
            </div>

            <div class="row col s12 divider"></div>

            <div class="col s12">
                <div class="row col s8 valign">
                    <h5 class="center-align">Destino da Viagem</h5>
                </div>
                <div class="row col s4">
                    <a class="btn-floating btn-large waves-effect waves-light red">20</a> Dias
                </div>
            </div>

            <div class="row col s12 divider"></div>

            <div class="col s12">
                <div class="row col s8 valign">
                    <h5 class="center-align">Destino da Viagem</h5>
                </div>
                <div class="row col s4">
                    <a class="btn-floating btn-large waves-effect waves-light red">3</a> Meses
                </div>
            </div>

            <div class="row col s12 divider"></div>

            <div class="col s12">
                <div class="row col s8 valign">
                    <h5 class="center-align">Destino da Viagem</h5>
                </div>
                <div class="row col s4">
                    <a class="btn-floating btn-large waves-effect waves-light red">1</a> Ano
                </div>
            </div>

            <div class="row col s12 divider"></div>

            <div class="col s12">
                <div class="row col s8 valign">
                    <h5 class="center-align">Destino da Viagem</h5>
                </div>
                <div class="row col s4">
                    <a class="btn-floating btn-large waves-effect waves-light red">Feita</a>
                </div>
            </div>

            <div class="row col s12 divider"></div>

        </div>
    </div>

    <div class="row" id="tabOutrosDestinos">
        <div class="row col s12 m8 offset-m2">

            <div class="card horizontal">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg">
                    <span class="card-title hide-on-small-only">Card Title</span>
                </div>
                <div class="card-content">
                    <p>Local: Sei Lá</p>
                    <p>Preço: R$250,00</p>
                    <p>Dia: 07/09/2016</p>
                    <p class="hide-on-small-only">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>

            <div class="card horizontal">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg">
                    <span class="card-title hide-on-small-only">Card Title</span>
                </div>
                <div class="card-content">
                    <p>Local: Sei Lá</p>
                    <p>Preço: R$250,00</p>
                    <p>Dia: 07/09/2016</p>
                    <p class="hide-on-small-only">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>

            <div class="card horizontal">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg">
                    <span class="card-title hide-on-small-only">Card Title</span>
                </div>
                <div class="card-content">
                    <p>Local: Sei Lá</p>
                    <p>Preço: R$250,00</p>
                    <p>Dia: 07/09/2016</p>
                    <p class="hide-on-small-only">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>

            <div class="card horizontal">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg">
                    <span class="card-title hide-on-small-only">Card Title</span>
                </div>
                <div class="card-content">
                    <p>Local: Sei Lá</p>
                    <p>Preço: R$250,00</p>
                    <p>Dia: 07/09/2016</p>
                    <p class="hide-on-small-only">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>

            <div class="card horizontal">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg">
                    <span class="card-title hide-on-small-only">Card Title</span>
                </div>
                <div class="card-content">
                    <p>Local: Sei Lá</p>
                    <p>Preço: R$250,00</p>
                    <p>Dia: 07/09/2016</p>
                    <p class="hide-on-small-only">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>

            <div class="card horizontal">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg">
                    <span class="card-title hide-on-small-only">Card Title</span>
                </div>
                <div class="card-content">
                    <p>Local: Sei Lá</p>
                    <p>Preço: R$250,00</p>
                    <p>Dia: 07/09/2016</p>
                    <p class="hide-on-small-only">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>

            <div class="card horizontal">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg">
                    <span class="card-title hide-on-small-only">Card Title</span>
                </div>
                <div class="card-content">
                    <p>Local: Sei Lá</p>
                    <p>Preço: R$250,00</p>
                    <p>Dia: 07/09/2016</p>
                    <p class="hide-on-small-only">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
  	$('#obs').characterCounter();
</script>